@import "reset.css";
@import "playlist.css";
@import "random-play.css";
@import "play-button.css";
@import "musiclist.css";

body {
  background-color: aqua;
  margin: 0px;
}
.background {
  display: flex;
  flex-direction: column;
  margin: 5px;
  height: 100vh;
  background-color: white;
  padding: 30px;
}
