body {
  background-color: aqua;
  margin: 0px;
}
.background {
  display: flex;
  margin: 5px;
  height: 100vh;
  background-color: white;
}
.playlist {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.playlist i:first-child {
  display: flex;
  margin: 5px;
}
.playlist span:nth-child(2) {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 30px;
}
