.right__buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.right__buttons__box {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}
.right__buttons__box i:first-child {
  display: flex;
  width: 20%;
  color: rgba(0, 0, 0, 0.3);
}
.right__buttons__box i:nth-child(2) {
  display: flex;
  width: 20%;
}
.right__buttons__box div:nth-child(3) {
  display: flex;
  width: 20%;
  justify-content: center;
  color: white;
}
.right__buttons__box i:nth-child(4) {
  display: flex;
  width: 20%;
  justify-content: flex-end;
}
.right__buttons__box i:last-child {
  display: flex;
  width: 20%;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.3);
}
