.right__music-background {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.right__music-background-box {
  display: flex;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
}
.right__music-background-box i:first-child {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
