.right__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
}
.right__title__name {
  display: flex;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 15px;
}
.right__title__genre {
  display: flex;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
}
