.library-page__book-now {
  display: flex;
}
.library-page__book-now__image {
  display: flex;
  width: 110px;
  height: 170px;
  margin-right: 15px;
  border: 1px solid black;
}
.library-page__book-now__contents {
  display: flex;
  flex-direction: column;
}
.library-page__book-now__contents__title {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.library-page__book-now__contents__subtitle {
  display: flex;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}
.library-page__book-now__contents__star {
  display: flex;
  margin-bottom: 20px;
}
.library-page__book-now__contents__star i:first-child,
.library-page__book-now__contents__star i:nth-child(2),
.library-page__book-now__contents__star i:nth-child(3),
.library-page__book-now__contents__star i:nth-child(4) {
  color: yellow;
}
.library-page__book-now__contents__star i:last-child {
  color: rgba(128, 128, 128, 0.1);
}
.library-page__book-now__contents__genre {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.library-page__book-now__contents__genre__Journey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 25px;
  background-color: rgba(128, 128, 128, 0.1);
  margin-right: 10px;
}
.library-page__book-now__contents__genre__biography {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 25px;
  background-color: rgba(128, 128, 128, 0.1);
  margin-right: 10px;
}
.library-page__book-now__contents__buttons {
  display: flex;
  flex-direction: row;
}
.library-page__book-now__contents__buttons i:first-child {
  display: flex;
  width: 30px;
  height: 30px;
  color: yellow;
  border-radius: 50%;
  margin-right: 40px;
}
.library-page__book-now__contents__buttons__book-now {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: black;
}
.library-page__book-now__contents__buttons__book-now span:first-child {
  color: rgba(128, 128, 128, 0.9);
  font-size: 12px;
}
